<a href="https://colab.research.google.com/github/yucelled/bootcamp/blob/main/A_02_BasicDataTypes_en.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
investment = 1000
gain = 0.12
days = 7
profit = (1 + gain) ** days
result = profit * investment 
result

2210.6814074060812

**(1)** Suppose you invested in Bitcoin at the end of 2017 when Bitcoin gained a lot of value. What would be your money at the end of a week if you had invested \$1000 with an average daily increase of 12\% ? You can solve the problem using Python.

In [ ]:
investment = 1000 
gain = investment + (7*(investment*(1.12**7)))
gain

16474.769851842568

**(2)**  Print the text in quotes with Python. However, you must get the numbers from variables using `.format()` notation. <br> Because the text is long, you might consider writing in two lines:

        `"When we buy bitcoin with 1000 USD at the beginning of the week, we would earn 1210.68 USD at the end of the week, with an average gain of 12\%."`

In [ ]:
print("""When we buy bitcoin with {} USD at the beginning of the week,
we would earn {:.2f} USD at the end of the week, with an average gain of {}%.""".format(investment, result-investment, gain*100))

When we buy bitcoin with 1000 USD at the beginning of the week,
we would earn 1210.68 USD at the end of the week, with an average gain of 12.0%.

**(3)**  Get the temperature in Fahrenheit from user and write a code to convert it to Celcius. For conversion, you can use this formula: C = (5/9) * (F - 32)

        Enter the temperature in Fahrenheit: 
        user --> 26
        output --> Temperature (C) : -3.33

In [ ]:
user = input("Temperature in Fahrenheit:")
print("Temperature (C):{:.2f}".format((5/9)* (int(user) - 32)))

Temperature in Fahrenheit:26
Temperature (C):-3.33

**(4)**  Get a three digit number the from user and calculate the sum of the digits in the integer.

        user --> 365
        output --> "The sum of digits in the number is 14

In [1]:
user = int(input())
total = 0
while(user>0) :
  digit=user%10
  total=total+digit
  user=user//10 
print("The sum of digits in the number is:", total)

365
The sum of digits in the number is: 14

In [10]:
user = 365595959
while user > 9:
  total = 0 
  for digit in str(user):
    total = total + int(digit)
  user = total 

total

2

**(5)**  Write some code to calculate the hypotenuse of a right angled triangle. Get the side lengths from the user.

        user --> first side lenth : 6
        user --> first side lenth : 8
        output --> "The length of the hypotenuse is 10

In [ ]:

from math import sqrt
a = float(input("first side length: "))
b = float(input("first side length: "))
c = sqrt(a**2 + b**2)
print("The length of the hypotenuse is:", c)

first side length: 6
first side length: 8
The length of the hypotenuse is: 10.0

In [21]:
user = 365
str(user)
#liste halinde rakamlarına bölme 
([int(digit)**2 for digit in str(user) if int(digit) > 4])

[36, 25]

In [ ]:
while user >9:
  user = sum([int(digit) for digit in str(user)])
user