<a href="https://colab.research.google.com/github/yucelled/bootcamp/blob/main/A_04_Lists_en.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.** Write a code to compute the sum of the two lowest numbers and the two highest numbers in the following list.

        my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]

In [8]:
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
length = len(my_list)
my_list.sort()
max = my_list[length-1]
second_max = my_list[length-2]
min = my_list[0]
second_min = my_list[1]
print("sum of the two lowest numbers and the two highest numbers in the list is: ", max + second_max + min + second_min)

sum of the two lowest numbers and the two highest numbers in the list is:  188

**2.** The following two lists contain student names and scores. Write a code that gets the name from the user and prints the score of that student.

        names = ["David", "Michael", "John", "James", "Greg", "Mark", 
                 "William", "Richard", "Thomas", "Steven", 
                 "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", 
                 "Donna", "Patricia", "Debra", "Eric"]

        scores = [95, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 
                  87, 79, 90, 73, 93, 82, 69, 97, 98]

Write the student name :  Karen

Score of Karen is 90

**3.** By using the two lists above, what is the maximum score and how many students got that score?

Max score :  98
Number of student with max score : 2

**4.** We can confuse about how many days a month is. Create a list to handle it. You will have month names and day counts in your list together as a nested list.

[['January', 31], ['February', 28], ['March', 31], ['April', 30], ['May', 31], ['June', 30], ['July', 31], ['August', 31], ['September', 30], ['October', 31], ['November', 30], ['December', 31]]

**5.** Now create lists of months for each season. Get month names and day counts from the list that you create before with slicing. Name the lists with seasons.

**6.** Finally, from the list in the previous question, calculate how many days the summer season lasts.

Summer lasts 92 days